html,
body{
   height: 100%;
}

.main{
   flex-grow: 1;
}

body {   
   font-size: 16px;
   line-height: 30px;
   @extend %dmsans-400;
   display: flex;
   flex-direction: column;
}

.container,
.big-container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.big-container {
   max-width: 1800px;
}

.title{   
   font-size: 36px;
   line-height: 44px;
   color: #1a1a1a;
   @extend %dmsans-700;
   text-align: center;
}

.breadcrumbs{
   display: flex;
   justify-content: center;
   align-items: center;
   &__list{
      display: flex;
   }
   &__item{
   padding-right: 20px;
   font-size: 14px;
   line-height: 24px;
   color: rgba(#222933, .6);
   @extend %rubik-400;
   position: relative;
      &::after{
         content: ('/');
         position: absolute;
         top: 0;
         right: 7px;
      }
      &:last-child{
         padding-right: 0;
         &::after{
            display: none;
         }
      }
   }   
   &__link{
      display: inline-block;
      color: inherit;
      font: inherit;      
   }
}
.pagination{
   display: flex;
   justify-content: center;
  &__list{
     display: flex;
  }
  &__prev,
  &__next,
  &__item-link{
     display: block;
     @extend %rubik-400;
     color: $default;
     padding: 9px 18px;
     border: 1px solid $bg;  
  }
  &__prev,
  &__next,
  &__item{
      margin: 0 8px;
  }
  &__item-link--active{
     color: #fff;
     background-color: $bg;
  }
  &__prev{
     display: none;
  }
}

