@media (max-width: 1500px){
   .product-decor{
      &__image{
         margin-left: 25px;
      }
      &__text-box{
         padding-left: 40px;
      }
   }
}

@media (max-width: 1200px){
   .top-slider{
      &__item-inner{
         padding-top: 70px;
      }
      &__image{
         max-width: 55%;        
      }
   }
   .product{
      &__content {
         grid-template-columns: repeat(3, 1fr);
         grid-gap: 30px;
         margin-bottom: 100px;
      }      
   }

   .product-page{
      padding: 70px 0 40px;
   }

   .product-item{
      max-width: 360px;
      &__image{
         width: 100%;
         height: auto;
      }
   }

   .product-decor{
      flex-wrap: wrap;
      &__item{
         width: 100%;
         padding: 70px 0 45px;
         margin-bottom: 30px;
         &:last-child{
            margin-bottom: 0;
         }
      }
      &__text-box{
         padding: 80px 15px 0 0;
         margin-left: 75px;
         max-width: 100%;
      }
      &__image{
         margin-top: 0;
         margin-left: 70px;
      }
   }
   
   .design{
      padding: 70px 0;
   }

   .blog-page{ 
      padding: 90px 0;     
      &__inner{
         flex-direction: column-reverse;
      }
      &__aside{
         width: 100%;
      }
      .recent-post,
      .filter-category{
         display: none;
      }
      
      .filter-search__input{
         width: 100%;
      }
      &__content{
         width: 100%;
         margin-right: 0;
      }
      &__image{
         width: 100%;
      }     
   }
   
   .shop{
      &__inner{
         display: block;
      }
      &__filter-btn{
         display: block;
         border: none;
         background-color: $accent;
         padding: 0;
         position: fixed;
         z-index: 101;
         right: 20px;
         top: 286px;
         width: 50px;
         height: 50px;
         border-radius: 5px;
         background-image: url('../images/icons/filter.svg');
         background-repeat: no-repeat;
         background-position: center;
      }
      &__filters{
         width: 100%;
         margin-right: 0;
         display: none;
         position: absolute;
         top: 20px;
         left: 0;
         padding-left: 20px;
         padding-right: 20px;
         z-index: 100;
         background-color: #fff;
      }
      &__content-product.shop__content-product--list{
         width: 100%;
      }
      .product-itemlist{
         width: 100%;
         &__textbox{
            width: 100%;
            padding-right: 5px;
         }
      }      
   }
    
   .recent-products{
      display: none;
   }

   .product-slide{
      &__thumb{
         display: none;
      }
   }

   .product-one{
      &__slide{
         width: auto;
         margin-right: 50px;
      }
   } 
   
   .related-products{
      display: none;
   }

   .about{
      padding: 70px 0;
      &__number{
         font-size: 100px;
      }
      &__number-wrap{
         margin-bottom: 25px;
      }
      &__title{
         margin-bottom: 30px;
      }
      &__text-box{
         padding: 60px 0 50px 50px;
      }
      &__text{
         margin-bottom: 30px;
      }
      &__items{
         border-top: 3px solid rgba(#09316f, .1);
         padding-top: 30px;
         &::before{
            display: none;
         }
      }
      &__item{
         margin-right: 25px;
         padding-left: 50px;
         &:last-child{
            margin-right: 0;
         }
         &::after{
            display:none;
         }
      }            
   }

   .team{
      &__item{
         max-width: 370px;
         width: 100%;
      }     
   }   

   .blog{
      padding-top: 70px;
   }
}

@media (max-width: 1020px){
   .top-slider{
      &__item-inner{
         padding-top: 0;
         .top-slider__image{
            display: none;
         } 
      }
      &__content{
         padding-top: 70px;
         margin-bottom: 40px;
      }
      &__title{
         max-width: 100%;
      }      
   }

   .logo{
      z-index: 6;
   }

   .menu{
      order: 1;
      &__btn{
         display: block;
         margin-left: 40px;
         z-index: 6;
      }
      &__list{        
         position: absolute;
         transform: translateY(-200%);
         top: 185px;
         width: 100%;
         left: 0;
         right: 0;
         background-color: #fff;
         flex-direction: column;
         align-items: center; 
         z-index: 5;
         transition: all .3s;
         &.menu__list--active{
           transform: translateY(0%); 
           transition: all .3s;
         }        
      }
      &__list-item{
         width: 100%;
         padding: 0 15px;
         text-align: center;         
      }
      &__list-item + .menu__list-item {
         margin-left: 0;
      } 
      &__list-link{
         padding: 10px 0;
         display: block;
         border-bottom: 1px solid rgba($bg, .3);
      }
      &__list-dropdown{
         left: 0;
         right: 0;
         top: 52px;
         width: 100%;
      }
      &__item-dropdown{
         padding: 10px;
         text-align: center;
         width: 100%;
      }
      &__link-dropdown{
         color: $bg;
      }  
   }

   .user-nav{
      margin-left: auto;
      z-index: 6;
   }

   .design{
      &__content{
         grid-gap: 30px;
         grid-template-columns: repeat(2, 1fr);
      }
      &__item{
         max-width: 480px;
      }      
   }
   
   .about{
      padding: 70px 0;
      &__inner{
         background-image: none !important;
      }
      &__text-box{
         margin-left: 0;
         max-width: 100%;
         padding: 0;
      }
      &__item{
         margin-right: 50px;
         padding-left: 60px;
      }
   }

   .team{
      padding-top: 70px;
      &__inner{
         display: block;
      }
      &__text-box{
         width: 100%;
         margin-bottom: 30px;
      }
      &__items{
         max-width: 100%;
      }
      &__item{
         max-width: 470px;
         width: 100%;
      }
      &__item-img{
          width: 100%;
      }
   }

   .contact{
      &__info-list{
         flex-wrap: wrap;
         justify-content: center;
         column-gap: 45px;
         margin: 60px 0 60px;
      }
      &__info-item{
         margin-bottom: 30px;
      }
      &__info-item + .contact__info-item {
         margin-left: 0;
      }
      &__inner{
         flex-wrap: wrap;
      }
      &__form{
         max-width: 100%;
         margin-right: 0;
      }
      &__form-box{
         column-gap: 20px;
      }
      &__form-input {
         max-width: 470px;
      }
      &__form-btn{
         margin-bottom: 30px;
      }
      #map {
         width: 100%;  
      }    
   }

   .blog{
      &__items{
         flex-wrap: wrap;
         justify-content: center;
         column-gap: 45px;
      }
      &__item{
         margin-bottom: 30px;
      }
   }
}

@media (max-width: 920px){
   .info{
      &__inner{
         display: block;
      }
      &__item{
         width: 100%;
         padding: 30px 10px;
         border-right: none;
         border-bottom: 1px solid rgba($default, .1);
         &:last-child{
            border-bottom: none;
         }
      }
      &__text-box{
         max-width: 100%;
      }
      &__item-title{
         line-height: 30px;
      }
   }

   .product{
      padding-top: 50px;
      &__title{
         margin-bottom: 25px;
      }
      &__filter-btn{
         margin-bottom: 50px;
      }     
   }

   .product-item{
      &__img-box{
         margin-bottom: 0;
      }
      &__title{
         line-height: 30px;
      }
      &__price{
         line-height: 30px;
      }
   }

   .product-page{
      padding: 70px 0;
   }

   .product-one{
      &__inner{
         flex-direction: column;
         align-items: center;
      }
      &__slide{
         width: 100%;
         margin-right: 0;
      }
      &__content{
         width: 100%;
         margin-top: 25px;
      }
   }

   .product-tabs{
      padding-top: 70px;
      &__top-item{
         min-width: 200px;
      }     
   }

    .about-info{
      padding: 60px 0 30px;
      &__items{
         flex-wrap: wrap;
      }
      &__item{
         width: 50%;
         margin-bottom: 30px;
      }
    }
   
   .blog-page{
      padding: 70px 0;
   }  

  .footer-top{
      flex-wrap: wrap;
      &__contact {
         width: 220px;
      }
      &__item-form {
         max-width: 100%;
         width: 100%;
         margin-top: 30px;
      }
      &__form-input{
         max-width: 250px;
      }
      &__form-btn {
         padding: 10px 33px;
      }
   }

   .partners{
      padding: 50px 0 40px;
      &__items{
         flex-wrap: wrap;
      }
      &__item{
         margin-bottom: 30px;
      }
      .partners--page {
         padding: 50px 0 40px;
      }
   }

   .footer-bottom{
      flex-direction:column;
      align-items: center;
      &__copy{
         margin-bottom: 25px;
         text-align: center;
      }
   } 
}

@media (max-width: 768px){
   .top-slider{
      &__title{
         font-size: 55px;
         line-height: 62px;
      }
   }

   .product{
      &__content {
         grid-template-columns: repeat(2, 1fr);
         margin-bottom: 70px;
      }       
   }

   .product-decor{
       &__text-box{
         margin-left: 50px;
      }
      &__image{
         margin-left: 25px;
      }
   }

   .design{
      padding: 50px 0;
      &__filter-btn{
         margin-bottom: 50px;
      }
      &__item{
         padding-top: 20px;
         padding-left: 20px;
      }
   }

   .video{
      padding: 100px 0;
   }
        
   .conditions {
      padding-top: 70px;
      &__text,
      &__list{
         margin-bottom: 40px;
      }
   }

   .contact {
      padding-top: 70px;
      &__info-item{
         width: 100%;
         padding: 55px 50px 60px;
      }
   }

   .blog{
      padding-top: 70px;
      background: linear-gradient(180deg, #fff 404px, rgba(252,215,182,0.2) 0%);
      &__item{
         max-width: 500px;
         width: 100%;
      }
      &__item-image{
         width: 100%;
      }
   }

   .blog-page{
      &__image{
         height: 450px;
      }
      &__info{
         padding: 20px;
         margin-top: -70px;
         margin-bottom: 35px;
      }
      &__item{
         margin-bottom: 35px;
      }
      &__text{
         margin-bottom: 25px;
      }
      .pagination{
         margin-top: 50px;
      }
   }

   .blog-one{
      &__text{
         margin-bottom: 45px;
         h5 {
            margin: 20px 0 10px;
         }
         p {
            margin: 10px 0 20px;
         }
         blockquote{
            padding: 20px 85px 20px 30px;
            margin: 25px 0;
         }
      }
   }

   .comments{
      padding-top: 45px;
      &__title{
         margin-bottom: 35px;
      }
      &__item{
         border-bottom: 1px solid #e0e0e0;
         padding: 20px 0;
         &:last-of-type{
            border-bottom: none;
            margin-bottom: 25px;
         }
         &::before{
            display: none;
         }
         &:nth-of-type(even){
         padding-left: 0;
         }
      }
      &__form-box{
         flex-wrap: wrap;
      }
      &__form-text{
         width: 100%;
      }
   }

   .shop{
      padding: 70px 0;
      &__content-product{
         grid-template-columns: repeat(2, 1fr);
         margin-bottom: 50px;
         grid-gap: 30px;
         &.shop__content-product--list{
            .product-item{
               flex-direction: column;
               align-items: center;
            }
         }
      }
      .product-itemlist{
         &__image{
            margin-right: 0;
         }
         &__textbox{
            padding-right: 0;
            padding-top: 5px;
         }
         &__title,
         &__price{
            text-align: center;
         }
         .star-rating{
            margin: 0 auto 30px;
         }
          &__link-box{
            justify-content: center;
         }
      }  
   }

   .product-tabs{
      &__top-item{
         min-width: 175px;
         padding: 7px 8px;
      }
      &__top-item + .product-tabs__top-item{
         margin-left: 0;
      }
   }

   .team{
      padding-top: 50px;
      &__items{
         grid-template-columns: 1fr;
      }
      &__item{
         max-width: 100%;
      }      
   }
}

@media (max-width: 600px){
   .menu{
      order:0;
   }

   .user-nav{
      width: 100%;
      margin-top: 35px;
      justify-content: flex-end;
      &__action,
      &__further-box{
         margin-left: 20px;
      }
   }

   .top-slider{
      &__content{
         padding-top: 45px;
         margin-bottom: 30px;
      }
      &__title{
         font-size: 46px;
         line-height: 58px;
      }
      & .slick-dots{
         padding-bottom: 30px;
      }
   }

   .product-decor{
      &__item{
         padding-top: 45px;
      }
      &__image{
         display: none;
      }
      &__text-box{
         margin-left: 0;
         padding-left: 15px;
         padding-top: 0;
      }
      &__title{
         font-size: 22px;
      }
   }

   .design{
      &__content{
         grid-template-columns: repeat(1, 1fr);
      }
      &__item{
         max-width: 100%;
      }
   }

   .blog{
      background: linear-gradient(180deg, #fff 443px, rgba(252,215,182,0.2) 0%);
      &__title-inner{
         flex-wrap: wrap;
      }
      &__title{
         width: 100%;
      }
      &__link{
         margin-top: 20px;
      }
      &__info{
         flex-wrap: wrap;
      }
   }
   
   .blog-page{
      padding: 50px 0;
      &__item{
         margin-bottom: 30px;
      }
      &__image{
         height: 300px;
      }
      &__title-link{
         font-size: 30px;
      }
      &__text{
         margin-bottom: 20px;
      }
      &__link{
         padding: 20px 81px 20px 21px;
      }
      &__info{
         margin-top: 0;
         margin-bottom: 30px;
         max-width: 100%;
         padding: 15px;
      }
      .pagination{
         margin-top: 40px;
      }
   }

   .blog-one{
      &__left-img,
      &__right-img{
         display: none;
      }
      &__post-info{
         flex-direction: column; 
         justify-content: initial;  
         align-items: initial;      
      }      
   }

   .post-info{
      &__author{
         margin-bottom: 20px;
      }
      &__post-links{
         width: 100%;
      }
   }

   .comments{
       &__image{
         width: 50px;
         height: 50px;
         margin-right: 20px;
      }
      &__content-top{
         flex-direction: column;
      }
      &__name{
         margin-bottom: 10px;
      }
   }
   
    .shop{
      padding: 50px 0;
      &__content-product{
         grid-template-columns: repeat(1, 1fr);
         margin-bottom: 50px;
         grid-gap: 30px;
      }
   }

   .product-item {
      max-width: 100%;
   }

    .product-page{
      padding: 50px 0;
   }

   .product-page{
      padding: 50px 0 0;
   }

   .product-tabs{
      padding-top: 50px;
      &__top-item{
         display: block;
         margin-bottom: 5px;
         &:last-child{
            margin-bottom: 0;
         }
      }
   }

   .about{
      padding: 50px 0 50px;
      &__item{
         margin-right: 0;
         margin-bottom: 25px;
         width: 100%;
         padding-left: 65px;
      }
      &__items{
         flex-wrap: wrap;
         text-align: left;
      }
   }

   .about-info{
      padding: 60px 0 30px;
      &__items{
         flex-wrap: wrap;
      }
      &__item{
         width: 100%;
      }
   }


   .footer-top{
      padding: 50px 0 10px;
      &__contact {
         width: 100%;
         margin-bottom: 40px;
      }     
      &__item-nav{
         width: 50%;
      }     
   }   
}

@media (max-width: 420px){
   .top-slider{
      &__title{
         font-size: 38px;
         line-height: 48px;
         margin-bottom: 20px;
      }
      &__text{
         margin-bottom: 30px;
      }
   }
      
   .product{
      &__content {
         grid-template-columns: repeat(1, 1fr);
         column-gap: 20px;
      }      
   }

   .product-item{
      max-width: 100%;
   }

   .video{
      padding: 75px 0;
   }
        
   .contact{
      &__form-box{
         flex-wrap: wrap;
      }
      &__form-input {
         max-width: 100%;
      }
   }

   .blog{
      padding-top: 50px;
      background: linear-gradient(180deg, #fff 468px, rgba(252,215,182,0.2) 0%);
   }

   .blog-page{
      &__image{
         height: 170px;
      }
      &__info{
         padding: 5px 10px;
      }     
   }

    .pagination{
         &__prev,
         &__next,
         &__item-link{
            padding: 5px 14px;
         } 
      }

   .conditions {
      padding-top: 50px;
      &__text,
      &__list{
         margin-bottom: 30px;
      }
   }
   
   .comments{
      &__image{
         display: none;
      }
      &__form-text,
      &__form-textarea{
         padding:  0 45px 0 10px;
      }     
   }

   .shop{
      .product-itemlist{
         &__image{
            width: 100%;
            height: auto;            
         }        
      }
   }

   .product-one{
      &__btn{
         width: 100%;
         margin-top: 10px;
         margin-left: 0;
      }
      &__form{
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   }

   .product-page {
      padding: 0;
   }

   .product-slide{
      &__big{
         max-width: 387px;
         width: 100%;
         clear: left;
         img{
            max-width: 387px;
            width: 100%;
         }
      }
   }

   .team{
      &__item-img{
         height: 230px;
      }
      &__member{
         width: 310px;
         padding: 20px 16px;
      }
   }

  .footer-top{
      &__item-nav {
         width: 100%;
         margin-bottom: 30px;
      }
      &__form{
         flex-wrap: wrap;
      }
      &__item-form {
         margin-top: 0;
      }
      &__form-input{
         max-width: 100%;
         width: 100%;
         display: block;
      }
      &__form-btn{
         max-width: 100%;
         width: 100%;
         display: block;
      }
      &__hidden-title{
         pointer-events: auto;
         position: relative;
         &::after{
            content:'';
            position: absolute;
            width: 10px;
            height: 5px;
            background-image: url('../images/icons/select-down.svg');
            top:50%;
            transform: translateY(-50%);
            left: 100px;           
         }
         &.active{
            &::after{
               transform: rotate(180deg);
               top:20px;
            }
         }
      }
      &__list{
         display: none;
      }
   }   
}

