@media (max-width: 1500px){
   .product-decor{
      &__image{
         margin-left: 25px;
      }
      &__text-box{
         padding-left: 40px;
      }
   }
}

@media (max-width: 1200px){
   .top-slider{
      &__item-inner{
         padding-top: 70px;
      }
      &__image{
         max-width: 55%;        
      }
   }
   .product{
      &__content {
         grid-template-columns: repeat(3, 1fr);
         grid-gap: 30px;
         margin-bottom: 100px;
      }      
   }

   .product-item{
      max-width: 360px;
      &__image{
         width: 100%;
         height: auto;
      }
   }

    .product-decor{
      flex-wrap: wrap;
      &__item{
         width: 100%;
         padding: 70px 0 45px;
         margin-bottom: 30px;
         &:last-child{
            margin-bottom: 0;
         }
      }
      &__text-box{
         padding: 80px 15px 0 0;
         margin-left: 75px;
         max-width: 100%;
      }
      &__image{
         margin-top: 0;
         margin-left: 70px;
      }
   }
   
   .design{
      padding: 70px 0;
   }
}

@media (max-width: 1020px){
   .top-slider{
      &__item-inner{
         padding-top: 0;
         .top-slider__image{
            display: none;
         } 
      }
      &__content{
         padding-top: 70px;
         margin-bottom: 40px;
      }
      &__title{
         max-width: 100%;
      }      
   }

   .logo{
      z-index: 6;
   }

   .menu{
      order: 1;
      &__btn{
         display: block;
         margin-left: 40px;
         z-index: 6;
      }
      &__list{        
         position: absolute;
         transform: translateY(-200%);
         top: 185px;
         width: 100%;
         left: 0;
         right: 0;
         background-color: #fff;
         flex-direction: column;
         align-items: center; 
         z-index: 5;
         transition: all .3s;
         &.menu__list--active{
           transform: translateY(0%); 
           transition: all .3s;
         }        
      }
      &__list-item{
         width: 100%;
         padding: 0 15px;
         text-align: center;         
      }
      &__list-item + .menu__list-item {
         margin-left: 0;
      } 
      &__list-link{
         padding: 10px 0;
         display: block;
         border-bottom: 1px solid rgba($bg, .3);
      }
      &__list-dropdown{
         left: 0;
         right: 0;
         top: 52px;
         width: 100%;
      }
      &__item-dropdown{
         padding: 10px;
         text-align: center;
         width: 100%;
      }
      &__link-dropdown{
         color: $bg;
      }  
   }

   .user-nav{
      margin-left: auto;
      z-index: 6;
   }

   .design{
      &__content{
         grid-gap: 30px;
         grid-template-columns: repeat(2, 1fr);
      }
      &__item{
         max-width: 480px;
      }      
   } 

   .contact{
      &__info-list{
         flex-wrap: wrap;
         justify-content: center;
         column-gap: 45px;
         margin: 60px 0 60px;
      }
      &__info-item{
         margin-bottom: 30px;
      }
      &__info-item + .contact__info-item {
         margin-left: 0;
      }
      &__inner{
         flex-wrap: wrap;
      }
      &__form{
         max-width: 100%;
         margin-right: 0;
      }
      &__form-box{
         column-gap: 20px;
      }
      &__form-input {
         max-width: 470px;
      }
      &__form-btn{
         margin-bottom: 30px;
      }
      #map {
         width: 100%;  
      }    
   }

   .blog{
      &__items{
         flex-wrap: wrap;
         justify-content: center;
         column-gap: 45px;
      }
      &__item{
         margin-bottom: 30px;
      }
   }
}

@media (max-width: 920px){
   .info{
      &__inner{
         display: block;
      }
      &__item{
         width: 100%;
         padding: 30px 10px;
         border-right: none;
         border-bottom: 1px solid rgba($default, .1);
         &:last-child{
            border-bottom: none;
         }
      }
      &__text-box{
         max-width: 100%;
      }
       &__item-title{
         line-height: 30px;
       }
   }

   .product{
      padding-top: 50px;
      &__title{
         margin-bottom: 25px;
      }
      &__filter-btn{
         margin-bottom: 50px;
      }     
   }

   .product-item{
      &__img-box{
         margin-bottom: 0;
      }
      &__title{
         line-height: 30px;
      }
      &__price{
         line-height: 30px;
      }
   }

  .footer-top{
      flex-wrap: wrap;
      &__contact {
         width: 220px;
      }
      &__item-form {
         max-width: 100%;
         width: 100%;
         margin-top: 30px;
      }
      &__form-input{
         max-width: 250px;
      }
      &__form-btn {
         padding: 10px 33px;
      }
   }

   .partners{
      padding: 50px 0 40px;
      &__items{
         flex-wrap: wrap;
      }
      &__item{
         margin-bottom: 30px;
      }
      .partners--page {
         padding: 50px 0 40px;
      }
   }

   .footer-bottom{
      flex-direction:column;
      align-items: center;
      &__copy{
         margin-bottom: 25px;
         text-align: center;
      }
   } 
}

@media (max-width: 768px){
   .top-slider{
      &__title{
         font-size: 55px;
         line-height: 62px;
      }
   }

   .product{
      &__content {
         grid-template-columns: repeat(2, 1fr);
         margin-bottom: 70px;
      }       
   }

   .product-decor{
       &__text-box{
         margin-left: 50px;
      }
      &__image{
         margin-left: 25px;
      }
   }

   .design{
      padding: 50px 0;
      &__filter-btn{
         margin-bottom: 50px;
      }
      &__item{
         // background-position: left center;
         padding-top: 20px;
         padding-left: 20px;
      }
   }

   .video{
      padding: 100px 0;
   }
        
   .conditions {
    padding-top: 70px;
   }

   .contact {
      padding-top: 70px;
      &__info-item{
         width: 100%;
         padding: 55px 50px 60px;
      }
   }

   .blog{
      padding-top: 70px;
      background: linear-gradient(180deg, #fff 404px, rgba(252,215,182,0.2) 0%);
      &__item{
         max-width: 500px;
         width: 100%;
      }
      &__item-image{
         width: 100%;
      }
   }
}

@media (max-width: 600px){
   .menu{
      order:0;
   }

   .user-nav{
      width: 100%;
      margin-top: 35px;
      justify-content: flex-end;
      &__action,
      &__further-box{
         margin-left: 20px;
      }
   }

   .top-slider{
      &__content{
         padding-top: 45px;
         margin-bottom: 30px;
      }
      &__title{
         font-size: 46px;
         line-height: 58px;
      }
      & .slick-dots{
         padding-bottom: 30px;
      }
   }

   .product-decor{
      &__item{
         padding-top: 45px;
      }
      &__image{
         display: none;
      }
      &__text-box{
         margin-left: 0;
         padding-left: 15px;
         padding-top: 0;
      }
      &__title{
         font-size: 22px;
      }
   }

   .design{
      &__content{
         grid-template-columns: repeat(1, 1fr);
      }
      &__item{
         max-width: 100%;
      }
   }

   .blog{
      &__title-inner{
         flex-wrap: wrap;
      }
      &__title{
         width: 100%;
      }
      &__link{
         margin-top: 20px;
      }
   }  

   .footer-top{
      padding: 50px 0 50px;
      &__contact {
         width: 100%;
         margin-bottom: 30px;
      }     
      &__item-nav{
         width: 50%;
      }     
   }   
}

@media (max-width: 420px){
   .top-slider{
      &__title{
         font-size: 38px;
         line-height: 48px;
         margin-bottom: 20px;
      }
      &__text{
         margin-bottom: 30px;
      }
   }
      
   .product{
      &__content {
         grid-template-columns: repeat(1, 1fr);
         column-gap: 20px;
      }      
   }

   .product-item{
      max-width: 100%;
   }

     .video{
      padding: 75px 0;
   }
        
   .contact{
      &__form-box{
         flex-wrap: wrap;
      }
      &__form-input {
         max-width: 100%;
      }
   }

  .footer-top{
      &__item-nav {
         width: 100%;
         margin-bottom: 30px;
      }
      &__form{
         flex-wrap: wrap;
      }
      &__item-form {
         margin-top: 0;
      }
      &__form-input{
         max-width: 100%;
         width: 100%;
         display: block;
      }
      &__form-btn{
         max-width: 100%;
         width: 100%;
         display: block;
      }
      &__hidden-title{
         pointer-events: auto;
         position: relative;
         &::after{
            content:'';
            position: absolute;
            width: 10px;
            height: 5px;
            background-image: url('../images/icons/select-down.svg');
            top:50%;
            transform: translateY(-50%);
            left: 100px;           
         }
         &.active{
            &::after{
               transform: rotate(180deg);
               top:20px;
            }
         }
      }
      &__list{
         display: none;
      }
   }   
}

