@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
   padding: 50px 0;
   &__inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}
.menu{
   &__list{
      display: flex;
   }
   &__list-item + .menu__list-item {
      margin-left: 34px;
   } 
   &__list-link{
      font-size: 15px;
      line-height: 12px;
      color: #436372;
      @extend %rubik-500;
   } 
}
.user-nav{
   width: 320px;
   display: flex;
   justify-content: space-between;
   &__link {
      width: 51px;
      height: 52px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
   }   
   &__link-search{      
      background-color: rgba(163, 187, 200, .2);      
   }
   &__action{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 178px;
      height: 51px;
      background-color: $accent;
      border-radius: 25px;   
   }
   &__link-num {
      display: inherit;
      position: relative;
      padding: 0 28px;
   }  
   &__link-num--line::after{
      content: '';
      position: absolute;
      width: 1px;
      height: 32px;
      background-color: rgba(255, 255, 255, .4);
      top: -5px;
      right: 0;
   }
   &__num{
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border-radius: 50%;
      font-size: 10px;
      line-height: 18px;
      color: #243f4d;
      @extend %dmsans-400;
      text-align: center;
      top: -7px;
      right: 19px;
   }
   &__filter-btn{
      background-color: $bg;
   }
   &__filter-list{
      display: none;
   }
}

.footer-top {
   padding: 70px 0 65px;
   border-bottom: 1px solid rgba(163, 187, 200, .4);
   display: flex;
   justify-content: space-between;
   &__contact{
      width: 200px;
   }
   &__item-nav{
      width: 150px;
   }
   &__item-form{
      max-width: 270px;
   } 
   &__logo{
      display: inline-block;
      margin-bottom: 10px;
   }
   &__title{
      font-size: 16px;
      line-height: 47px;
      text-transform: uppercase;
      color: #1f2044;
      @extend %dmsans-700;
      margin-bottom: 7px;
   }
   &__address,
   &__phone{
      span{
         text-transform: uppercase;
      }
   }
   &__address,
   &__phone,
   &__email,
   &__list-item {
      margin-bottom: 5px;
   }
   &__address,
   &__phone,
   &__email,
   &__link,
   &__text{
      font-size: 14px;
      line-height: 24px;
      color: #7b7b7b;
      @extend %rubik-400;
   }
   &__text{
      margin-bottom: 35px;
   }
   &__form{
      display: flex;
   }
   &__form-input{
      max-width: 170px;
      width: 100%;
      background-color: rgba($accent, .2);
      border: none;
      padding: 4px 16px 4px 10px;
      outline-color: $accent;
      // vertical-align: top;
      &::placeholder{
         font-size: 12px;
         line-height: 10px;
         color: #234969;
         padding: 0;
      }
   }
   &__form-btn{
      border: none;
      background-color: $bg;
      font-size: 14px;
      line-height: 18px;
      color: #fff;
      padding: 10px 17px;
      cursor: pointer;
      // vertical-align: top;
   }
}

.footer-bottom{
   padding: 30px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__list{
      display: flex; 
   }
   &__list-item{
      padding: 0 15px;      
      border-right: 1px solid #7b7b7b;
      line-height: 18px;
      &:last-child{
         padding-right: 0;
         border-right: none;
      }     
   }
   &__list-link{
      display: inline-block;
      font-size: 14px;
      line-height: 18px;
      color: #7b7b7b;
      @extend %rubik-400;
   }
   &__copy{
      font-size: 14px;
      line-height: 32px;
      color: #7b7b7b;
      @extend %rubik-400; 
   }
}

.top-slider{
   &__inner{
      background-color: #fcd7b6;
   }
   &__item-inner{
      max-width: 1300px;     
      margin:0 auto;
      display:flex;    
      padding:100px 10px 0;     
   }
   &__content{
      padding-top: 100px;
   }    
   &__title{
      max-width: 420px;
      font-size: 72px;
      line-height: 70px;
      color: $default;
      text-transform: uppercase;
      @extend %rubik-500;
      margin-bottom: 35px;
   }
   &__text{
      max-width: 365px;
      font-size: 18px;
      color: $dark;
      @extend %rubik-400;
      margin-bottom: 40px;
   }
   &__link{
      padding: 21px 100px 21px 25px;
      background-color: $bg;
      font-size: 15px;
      line-height: 12px;
      color: #fff;
      @extend %rubik-500;
      border: none;
      display: inline-block;
      position: relative;
      &::after{
         content: '';
         background-image: url("../images/slider/btn-arrow.svg");
         width: 22px;
         height: 9px;
         top: 50%;
         transform: translateY(-50%);        right: 18px;
         position: absolute;
      }      
   }
   &__image{
      margin-left: auto;
   }
   .slick-dots{
      display: flex;
      justify-content: center;
      padding-bottom: 45px;
      li{
         padding: 0 5px;
         button{
            padding: 0;
            border: none;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: rgba(#fff, .3);
            font-size: 11px;
            line-height: 8px;            
            color: rgba($default, .3);
            outline-color: $accent;
            @extend %rubik-500;
         }         
      }
      .slick-active{
         button{
            background-color: #fff;
            color: $default;
         }
      }
   }        
}

.info{   
   &__inner{
      display: flex;
   }
   &__item{
      padding: 45px 0;
      width: 33.3333%;
      background-color: rgba($accent, .2);
      border-right: 1px solid rgba($default, .1);
      &:last-child{
         border-right: none;
      }
   }
   &__text-box{
      max-width: 296px;
      padding-left: 80px;
      margin: 0 auto;
      position: relative;
      &::before{
         content: '';
         position: absolute;
         background-repeat: no-repeat;
         background-position: center;
         top:10px;
         left:0;         
      }
   }
   &__text-box--support{
      &::before{
         width: 55px;
         height: 55px;
         background-image: url('../images/icons/support-icon.svg');
      }
   }
   &__text-box--delivery{
      &::before{
         width: 56px;
         height: 37px;
         background-image: url('../images/icons/delivery-icon.svg');
      }
   }
   &__text-box--payment{
      &::before{
         width: 57px;
         height: 55px;
         background-image: url('../images/icons/card-icon.svg');
      }
   }
   &__item-title{
      font-size: 18px;
      line-height: 40px;
      color: #414141;
      @extend %dmsans-700;
   }
   &__item-text{
      color: #585858;
   }
}

.product{
   padding-top: 70px;
   &__title{
      margin-bottom: 35px;
      color: #191919; 
   }
   &__filter-btn{
      text-align: center;
      margin-bottom: 75px;
   }
   &__btn{
      @extend %filter-btn;
   }   
   &__btn + .product__btn{
      margin-left: 20px;
   }
   &__content{
      display:grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 40px 30px;
      margin-bottom: 180px;
   }
   .mixitup-control-active {
      color:#1a1a1a;
   }
}
.product-item{
   max-width: 270px;
   box-shadow: 0px 6px 47px 3px rgba(36,36,36,0.05);
   border-radius: 10px;
   text-align: center;
   display: flex;
   flex-direction: column;
   padding-top: 25px;
   padding-bottom: 30px;
   &:hover{
      .product-item__link-box{
         transform: translateY(0);
      }   
   }
   &__img-box{      
      // height: 200px;
      position: relative;
      overflow: hidden;
      margin-top: auto;
      margin-bottom: 50px;
   }
   &__link-box{
      width: 167px;
      height: 45px;
      position: absolute;
      left:0;
      right:0;
      bottom: 10px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transform: translateY(300%);
      transition: all .5s;
   }
   &__link{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      transition: all .3s;
      path{
         transition: all .3s;
      }      
   }
   &__link:hover{
      background-color: $bg;
      box-shadow: 0px 6px 47px 3px rgba(36,36,36,0.05);
      path{
         fill:#fff;
      }      
   }
   &__image{
      margin: 0 auto;
      object-fit: cover;    
   }
   &__title{
      font-size: 16px;
      line-height: 40px;
      color: $default;
      @extend %dmsans-500;
   }
   &__price{
      line-height: 40px;
      color: $bg;
      @extend %dmsans-700;
   }
}

.product-decor{
   display: flex;
   justify-content: space-between;
   column-gap: 30px;
   &__item{
      width: 870px;
      padding: 90px 0 85px;
      background-color: rgba($accent, .4);
      position: relative;
   }
   &__image{     
      position: absolute;
      top: -95px;
      left: 140px;   
   }
   &__text-box{
      max-width: 330px;
      margin-left: 50%;
      }
   &__title{
      font-size: 26px;
      line-height: 32px;
      color: $default;
      @extend %dmsans-700;
      margin-bottom: 15px;
   }
   &__text{
      color: $default;
      @extend %rubik-400;
      margin-bottom: 20px;
   }
   &__link{
      display: inline-block;
      padding: 22px 84px 22px 20px;
      text-transform: capitalize;
      font-size: 15px;
      line-height: 12px;
      color: $dark;
      @extend %rubik-500;
      border: 1px solid rgba($dark, .4 );
      border-radius: 5px;
      position: relative;
      &::after{
         content: '';
         background-image: url("../images/decor/right-arrow.svg");
         width: 22px;
         height: 9px;
         top: 24px;
         right: 20px;
         position: absolute;
      }         
   }
}


.design{
   padding: 100px 0 120px;
   &__title{
      margin-bottom: 25px;
      text-transform: capitalize;
   }
   &__filter-btn{
      text-align: center;
      margin-bottom: 75px;
   }
   &__btn{
      @extend %filter-btn;
   }

   &__btn + .design__btn{
      margin-left: 20px;
   }
   .mixitup-control-active {
      color:#1a1a1a;
   }
   &__content{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // grid-template-rows: repeat(2, 1fr);
      grid-gap: 34px 30px;
   }
   &__item{
      min-height: 246px;
      width: 370px;
      padding: 35px 5px 10px 35px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      border-radius: 5px;
      @extend %dmsans-700;
   }
   &__item-title{
      max-width: 200px;
      font-size: 20px;
      color: #1a1a1a;
   }
   &__item-text{
      color: $bg;
   }   
}


.video{
   padding: 200px 0;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   display: flex;
   justify-content: center;
   align-items: center;  
}

.blog{
   padding-top: 120px;
   &__title-inner{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 40px;
   }
   &__link {
      line-height: 20px;
      color: #262626;
      text-transform: capitalize;
      @extend %dmsans-700;
      padding-right: 23px;
      position: relative;
      &::after{
         content: '';
         background-image: url("../images/blog/link-arrow.svg");
         width: 7px;
         height: 12px;
         top: 50%;
         transform: translateY(-50%);
         right: 0;
         position: absolute;
      }
   }
   &__items{
      display: flex;
      justify-content: space-between;
      column-gap: 30px;
   }
   &__item{
      width: 370px;
      background-color: #ffffff;
      box-shadow: 0px 6px 47px 3px rgba(36,36,36,0.05);
      border-radius: 5px;
   }
   &__item-imglink{
      display: block;
   }
   &__item-image{
      object-fit: cover;   
   }
   &__text-box{
      padding: 30px 28px 20px;
   }
   &__item-title{
      max-width: 285px;
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 24px;
      color: #262626;
      @extend %dmsans-500;
   }
   &__item-titlelink{
      display: block;
      font: inherit;
      color: inherit;
   }
   &__info{
      display: flex;
      padding-top: 10px;
      border-top: 1px solid #e0e0e0;
      font-size: 12px;
      color: #222933;
      @extend %rubik-400;
   }
   &__info-date{
      margin-right: 30px;
   }
   &__author-link{
      display:block;
      font: inherit;
      color: inherit;
   }
}
.partners{
   padding: 265px 0 90px;
   background-color: rgba($accent, .2);
   margin-top: -171px;
   &__items{
      display: flex;
      justify-content: space-around;
      align-items: center;
      column-gap: 30px;
   }
}


@import 'media';
